.field-col {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.field-row {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important; 
  align-items: center !important;
  gap: 15px !important; 
  width: 100%;

  margin-top: 15px;
  margin-bottom: 15px;
}

.field-row .form-select {
  width: auto !important;
}

.field-row .input-label {
  margin: 0 !important;
}

select:hover {
  cursor: pointer;
}

select:disabled:hover {
  cursor: not-allowed;
}

.input-disabled:hover {
  cursor: not-allowed;
}

.input-label {
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto; 
}
