.field-col {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.field-row {
  display: flex;
  flex-direction: row;

  width: 100%;
}


select:hover {
  cursor: pointer;
}

select:disabled:hover {
  cursor: not-allowed;
}

.input-disabled:hover {
  cursor: not-allowed;
}

.input-label {
    margin-left: 0px;
    margin-right: auto;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto; 
}
