.leaderboard {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

[data-bs-theme="dark"] th {
  background-color: #272727;
}

[data-bs-theme="dark"] td {
  background-color: #272727;
}

.leaderboard-top {
    width: 100%;
    display: flex;
    margin-bottom: 15px;;
}

.leaderboard-title {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-weight: 600
}

.export-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    white-space: nowrap;
}

.export {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
}

.export:hover {
    cursor: pointer;
}

.table {
    table-layout: fixed;
}

.rank-col {
    width: 50px;
}

.time-col {
    width: 10%;
}

.rank-col, 
.leaderboard td:first-child,
.leaderboard th:last-child,
.leaderboard td:last-child {
    padding-right: 15px !important; 
}

.name-col {
    padding-left: 15px !important;
}

.solve-cell { 
    position: relative; 
    cursor: pointer; 
}

.solve-cell .edit-icon { 
    display: none; 
    position: absolute; 

    transform: translateY(-50%); 
    z-index: 1;
}

.solve-cell:hover .edit-icon { 
    display: inline-block; 
}

.solve-cell .add-icon { 
    display: none; 
    position: absolute;
    right: 8px; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1;
}

.solve-cell:hover .add-icon { 
    display: inline-block; 
}