.panel {
    margin-top: 20px;
    margin-left: 10px;
    border-style: solid;
    border-radius: 5px;
}

.input-label {
    font-weight: 600;
}

.config {
    margin: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.config-row {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-label {
    text-align: left;
}

#competitors {
    min-height: 200px;
    height: auto;
}